/*
Name: Tala Idris
Student Number:400571015
Date created: February 13 2025
Description: CSS stylesheet for JavaScript assignment.
*/

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
body {
    background-color: lightgrey;
    font-family: "Covered By Your Grace", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
    background-color: pink;
}


#container {
    max-width: 768px;
    margin: auto;
    box-sizing: border-box;
}

#homescreen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homescreen h1 {
    margin-bottom: 0%;
}

#fill-alert {
    color:red;
}

input {
    display: block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 2%;
    width: 80%;
    border-radius: 5px;
    border-color: lightcoral;
}

input[type=text] {
    border-width: 5px;
    padding: 2%;
}

input[type=color] {
    height: 60px;
}

#playbutton {
    margin-bottom: 3%;
    padding: 2%;
    text-align: center;
    width: 50%;
    font-family: "Covered By Your Grace", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
    color: darkslategrey;
    border-radius: 30px;
    background-color: azure;
    border-color: lightcoral;
    border-width: 5px;
}

#p1 {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style:dashed;
    border-radius: 5%;
    border-color: lightcoral;
    border-width: 5px;
    background-color: pink;
}

#p2 {
    margin-top: 3%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style:dashed;
    border-radius: 5%;
    border-color: lightcoral;
    border-width: 5px;
    background-color: pink;
    margin-bottom: 3%;
}

/* #playbutton {
    margin: 0% 40% 5%;
    padding: 2%;
    text-align: center;
} */


#helpscreen {
    padding: 10%;
    text-align: center;
}

#helpscreen  li {
    text-align: left;
}


#gamescreen {
    text-align: center;
}

#header {
    text-align: center;
    padding-top: 10px;
}

#winner-display{
    color: green;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px solid;
    background-color: azure;
    border-color: lightcoral;
    margin-bottom: 3%;
}

td {
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid lightcoral;
}

.x {
    font-size: 50px;
}

.o {
    font-size: 50px;
}

.win {
    background-color: yellowgreen;
}

button {
    margin-bottom: 3%;
    padding: 2%;
    text-align: center;
    width: 50%;
    font-family: "Covered By Your Grace", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
    color: darkslategrey;
    border-radius: 30px;
    background-color: azure;
    border-color: lightcoral;
    border-width: 5px;
}
